/* ============================= =================================
                          CSS VARIABLES
============================= ================================= */
:root {
  --accent: #A7C942;
  --accent-ligth: #EAF2D3;
  --dark: #777777;
  --grey: #e9e9e9;
  --white: #fff;
  --bold: 700;
  --regular: 400;
}

/* ============================= =================================
                          Fonts import
============================= ================================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');


/* ============================= =================================
                         Global Styles
============================= ================================= */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--accent);
}

a:hover {
  color: inherit;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}